<!-- home.component.html -->
<div class="min-h-screen bg-gray-100">
   
<!-- acceui avec backgroud-->  
<section
  class="text-center py-20 bg-cover bg-center relative border-4 border-blue-200 rounded-xl"
  style="background-image: url('assets/images/home.jpg')">
  
  <div class="absolute inset-0 bg-black bg-opacity-40 rounded-xl"></div>

  <div class="relative z-10">
    <h1 class="text-5xl font-bold text-white mb-6">Livraison de Plats à Domicile</h1>
    <p class="text-lg text-white mb-8">Commandez chez les meilleurs restaurants autour de vous</p>
    <!-- bouton ici -->
  </div>
  
</section>

<div class="max-w-xl mx-auto mt-6">
  <div class="flex gap-2">
    <input
      type="text"
      placeholder="Entrez votre adresse..."
      class="w-full px-5 py-3 rounded-lg border shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-100"
    />
    <button
      class="bg-blue-600 text-white px-5 py-3 rounded-lg hover:bg-blue-700 transition"
    >
      Rechercher
    </button>
    
  </div>
  <div class="max-w-xl mx-auto mt-6 text-center">
 <p class="text-center mt-6 text-gray-800">
  Choisissez un plat :
  <span
    *ngFor="let plat of plats"
    (click)="searchPlat(plat)"
    class="text-blue-600 underline cursor-pointer hover:text-blue-800 mx-2"
  >
    {{ plat }}
  </span>
</p>


 
  <p id="locationInfo" class="text-gray-600 mb-2">📍 Votre position :  {{ locationMessage }}</p>
  
</div>



</div>



  
<!-- des plat populaire-->
<section class="py-16 px-6 bg-gray-50">
  <h2 class="text-3xl font-semibold text-gray-800 text-center mb-10">Nos Plats Populaires</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <app-product-card *ngFor="let product of popularProducts" [product]="product"></app-product-card>
  </div>
</section>

<section class="py-16 bg-white text-center">
  <h2 class="text-3xl font-semibold text-gray-800 mb-10">Témoignages</h2>
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-6">
    
    <div class="bg-gray-50 p-6 rounded-lg shadow-md">
      <p class="text-gray-600 italic">
        "Excellent service ! Livraison rapide et plats délicieux."
      </p>
      <span class="block mt-4 text-sm text-gray-500">— Karim B., Alger</span>
    </div>
    
    <div class="bg-gray-50 p-6 rounded-lg shadow-md">
      <p class="text-gray-600 italic">
        "Des plats savoureux, bien emballés et livrés à l'heure. Je recommande vivement."
      </p>
      <span class="block mt-4 text-sm text-gray-500">— Amina L., Oran</span>
    </div>
    
    <div class="bg-gray-50 p-6 rounded-lg shadow-md">
      <p class="text-gray-600 italic">
        "Une expérience utilisateur simple et rapide. Bravo pour la qualité du service."
      </p>
      <span class="block mt-4 text-sm text-gray-500">— Yacine D., Constantine</span>
    </div>

  </div>
</section>


</div>